nav {
    border: 1px solid black;
    margin: 0 .4em 0 .4em;
}

nav a {
    display: block;
    height: 2em;
    /* width: 2em; */
    width: 100%;
}

td p {
    font-size: .7em;
}

td, th {
    border: 1px solid black;
    /*height: 4em;*/
    height: 4em;
    /*padding: .5em;*/
    /*width: 4em;*/
    /*width: 100%;*/
    width: 4em;
}

th a {
    display: none;
    font-size: .7em;
}

th:hover a:not(.disabled) {
    cursor: pointer;
    display: block;
}

.red { background-color: red; }
.orange { background-color: orange; }
.yellow { background-color: yellow; }
.green { background-color: green; }
.blue { background-color: blue; }
.purple { background-color: purple; }
.white { background-color: white; }
.black { background-color: black; }

.grey { background-color: grey; }